body{
  margin:0px;
  padding:0px;
}

a{
  color: black;
}

input:not(.leave), select:not(.leave), textarea{
  width:100%;
  box-sizing: border-box;
}

textarea.apply{
  height:150px;
}

.right{
  text-align: right;
}

.label{
  background-color:green;
  color:white;
  padding:2px;
  border:1px solid black;
  border-radius:100px;
  font-size:10px;
}

#headmenu{
  padding:5px;
  box-sizing: border-box;
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:35px;
  border-bottom:2px solid grey;
  z-index:2;
  background-color:white;
  button{
    background-color:green;
    color:white;
  }
  .menu{
    display:none;
    background-color: white;
    width:250px;
    border:1px solid grey;
    h3{
      text-align:center;
      color: blue;
      margin:2px;
    }
    .createAccount{
      display:none;
    }
  }
}

.center{
  text-align:center;
}

.title{
  text-align:center;
  color: blue;
}

.notokay{
 color:red; 
}

.okay{
 color:green; 
}

#container{
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  bottom: 0px;
  border-left:1px solid black;
  border-right:1px solid black;
  overflow: scroll;
}

table.border{
  border-collapse: collapse;
  width:100%;
  th, td{
    border: 1px solid grey;
  }
}

#area{
  margin: 20px;
  padding:10px;
  border:1px solid grey;
  border-radius: 10px;
  h3{
    text-align:center;
    color:blue;
    &.notokay{
     color:red; 
    }
  }
  table.ticket_overview{
    width:100%;
    border-collapse:collapse;
    td.unread{
      background-color:red;
    }
    td.read{
      background-color:green;
    }
    td, th{
      border: 1px solid black;
    }
  }
}

#logo{
  margin: 20px;
  margin-top:55px;
  border:1px solid black;
  height:150px;
  background-size: 100% 100%;
  border-radius: 10px;
}

#menu{
  margin: 20px;
  border: 1px solid grey;
  border-radius:10px;
  table{
    width:100%;
    td{
      a{
        color:blue;
        text-decoration: none;
        text-align:center;
        display:inline-block;
        width:100%;
      }
    }
  }
}

#login-container{
  .box{
    width:49%;
    float: left;
    padding:2px;
  }
  .box:last-child{
    border-right:1px solid black;
  }
}

.clear{
  clear:both;
}

@media screen and (max-width: 768px){
  
}

#copy{
  margin:20px;
  text-align: center;
  border:1px solid grey;
  border-radius: 10px;
}

.msg{
  position: absolute;
  top: 35px;
  width: 400px;
  height: auto;
  background-color: black;
  border:1px solid red;
  border-top:none;
  z-index: 1;
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
  &.error{
    left: 10px;
    div{
      background-color:red;
    }
  }
  &.okay{
    right: 10px;
    border-color:green;
    div{
      background-color:green;
      color:black;
    }
  }
  div{
    margin-bottom: 5px;
    text-align: center;
  }
  div:last-child{
    margin-bottom:0px;
    border-radius:0px 0px 10px 10px;
  }
}

.two_container{
  text-align: center;
  span{
    display:inline-block;
    width:50%;
  }
}

#ticket{
  border:1px solid black;
  div{
    border-bottom: 1px solid black;
  }
  div:last-child{
    border-bottom:0px;
  }
  .center{
    color:blue;
  }
  .two_container{
    span{
      width:49%;
    }
    span:first-child{
      color:blue;
    }
    span:last-child{
      border-left:1px solid black;
      text-align: left;
    }
  }
}

#comments{
  .comment{
    margin:2px;
    margin-bottom: 5px;
    border:1px solid black;
    border-radius:10px;
    .infomation{
      float:left;
      width:250px;
      border-right:1px solid black;
      .two_container{
        border-bottom:1px solid black;
        span:last-child{
          text-align:left;
          width:70%;
        }
        span:first-child{
          width:29%;
          color:blue;
        }
      }
      .two_container:last-child{
        border-bottom:0px;
      }
    }
    .message{
      float:left;
      left:250px;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

textarea[name=comment]{
  height:150px;
}

table.style{
  width:100%;
  border-collapse: collapse;
  th, td{
    border:1px solid grey;
  }
}
